html, body, ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  box-sizing: border-box;
}

h3 {
  font-family: 'Slabo 27px';
  font-size: 1.5rem;
  color: #000000;
  text-decoration: underline;
}

h5 {
  font-size: 1rem;
  color: #000;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #330036;
}

nav ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 10px 60px;
  list-style: none;
}

nav a {
  color: #EAEAEA;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.hero {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  height: 40vh;
}

.row {
  padding: 40px 5%;
  background-color: #CCA43B;
  min-height: 55vh;
}

.column {
  float: left;
  width: 25%;
  background-color: #DED6D6;
  padding: 0px 20px 30px 20px;
}

.column:not(:first-child) {
  margin-left: 40px;
}

.resources, .schedule {
  list-style: none;
}

.resources li, .schedule li {
  padding-bottom: 5px;
}

.time {
  text-decoration: underline;
}
